{var $robots = noindex}

{block #content}

	<div class="row">
        <div class="small-12 large-12 columns">

            <h1>PASSWORD RESET</h1>
            {control recoveryStepTwoForm}

        </div>

    </div>

{/block}