
{block content}

<div class="jumbotron">
	<h1>Deníček duševní hygieny.</h1>
	<p class="lead">Aplikace určená pro všechny, kterým není putna kvalita jejich života.</p>
	<p><a class="btn btn-lg btn-success" n:href="Sign:up" role="button">Registrujte se</a></p>
  </div>

  <div class="row marketing">
	<div class="col-lg-6">

	</div>

	<div class="col-lg-6">

	</div>
  </div>