parameters:
	site:
		develMode: true
		version: devel

	database:
		dbname: mylifestyle_devel
		user: mylifestyle
		password: strongpassword

#services:
#	nette.mailer: JanDrabek\MailPanel\SessionMailer
#
#nette:
#	debugger:
#		bar: [JanDrabek\MailPanel\MailPanel]