{layout @layout.latte}

{block #content}

	{block #title}<h1>Aprila Email Change Instructions</h1>{/block}

	<p>
		{$token}
	</p>

	<p>
		To confirm your email change please <a href="{link //:Admin:UserSettings:email}">follow this link</a>
	</p>

	<p>
		Otherwise select &amp; copy verification code: <b>{$token}</b><br>

		and go to {link //:Admin:UserSettings:email} for next step
	</p>

	<p>
		<i>Aprila</i>
	</p>

{/block}