{*
	UserSettings : password
*}

{block #title}Change password{/block}

{block #content}

{include "header.latte"}

<div class="row">
	<div class="columns">

		{include '../Components/form.latte', form => changePasswordForm}

	</div>
</div>
