/**
 * Application
 */
.b-load-more
	padding-top 30px


.header--space
	margin-top: 30px


.image--small
	max-width 50px

.image--circle
	border-radius 50%


// Subnavigation

.navigation--sub
	margin-top 20px
	margin-bottom 30px
	border-top 1px solid #CACDC4
	border-bottom 1px solid #CACDC4
	padding 11px 10px 9px

.menu-item--inline
	display inline-block
	margin-right 25px
	text-decoration none

	&.active
		color #393939