/**
 * Button
 */

button
input[type="submit"]
.button
	color #1D3C72
	border none
	cursor pointer
	font-family "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
	font-weight normal
	line-height normal
	margin 0 0 1.25rem
	position relative
	text-decoration none
	text-align left
	display inline-block
	padding-top 0.75rem
	padding-right 1.5rem
	padding-bottom 0.8125rem
	padding-left 1.5rem
	font-size 20px
	background-color #678EC1
	border-color #7699c7
	transition background-color 300ms ease-out
	border-radius 5px

	&:hover
		color #1D3C72

.button--small
.button.small
	font-size 12px
	padding 10px 15px


.button.primary
	background #95D42C
	color #54830D
	&:hover
		color #54830D


.button.alert
	background #D03131
	opacity 0.5
	color #FFF
	transition 200ms

	&:hover
		color #FFF
		opacity 1

.button--icon
	padding-left 55px


.button--load
	position relative
	padding-left 53px

	i
		position absolute
		top 9px
		left 10px


/* todo: remove old code?
.btn
	display inline-block
	padding 15px 20px
	color #fff
	background #5e407c
	text-decoration none
	text-transform uppercase
	margin-bottom 10px
	&:hover
		color: #fff

.text-right
	.btn
		text-align left

@media on_small
	.btn
		display inline-block
		text-indent -500%
		font-size inherit
		overflow hidden
*/