/**
 * Forms
 */

input[type="password"]
input[type="email"]
input[type="number"]
input[type="text"]
textarea
	background #EAEAE7
	border none
	padding 10px
	font-size 20px
	border-radius 5px
	width 100%
	border-bottom 2px solid white

	&:focus
		border-bottom 2px solid white
		background #ffffff
		outline none


input[type="checkbox"]
input[type="radio"]
	margin 0 1rem 1rem 0


label
	font-size 16px
	font-weight normal
	color #ADAFA7


form th
	vertical-align top
	padding-top 10px

th label
	float right
	text-align right
	display inline-block
	margin-right 20px

table input
table textarea
	margin-bottom 20px

table
	background transparent


.form--aprila-base
	width 80%

	.row
		margin-bottom 20px

	.medium-3
		label
			padding-top 15px
			display inline-block
			float right

	input[type="submit"]
		float right

	textarea
		height 110px

	p
		padding-top 10px

.form--login
	margin: 0 auto



.b-login__reset-password
	display inline-block
	margin-top 8px

.b-login__remember
	margin-left 102px
	margin-top 16px
	display block

	input
		margin 0 0.5rem 1rem 0

.b-login__logo
	margin-top 60px
	margin-bottom 30px



select
	appearance none !important
	border-radius 0
	border none
	background #EAEAE7
	background-image url('form/select.svg')
	background-position right center
	background-repeat no-repeat
	line-height normal
	padding 10px
	font-size 20px
