@import '../nib/nib/'

/**
 * Variables
 */

fontSuper = 'Arial', sans-serif;

colorBackground = #EAEAE7
colorTextMain = #3e454c
colorLink = #2185c5
colorLinkHover = #7ecefd
colorHigh = #00b2cd
colorHighBackground = #ffede9



/**
 * Imports
 */

@import 'base.styl'
@import "typography.styl"
@import "button.styl"
@import "form.styl"
@import "label.styl"

@import "layout.styl"

@import 'Components/block.datalist.styl'
@import 'Components/block.quickSearch.styl'
@import 'Components/block.passwordInput.styl'
@import 'Components/block.fileInput.styl'
@import 'Components/block.buttonConfirm.styl'
@import 'Components/block.emptyState.styl'
@import 'application.styl'

@import 'icons.styl'
