
/* line 39 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/main.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 287 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/index.styl */

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/index.styl */

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/border.styl */

/* line 11 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/border.styl */

/* line 11 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/clearfix.styl */

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/clearfix.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/color-image.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/color-image.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/flex.styl */

/* line 197 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/flex.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/gradients.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/gradients.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 12 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/iconic.styl */

/* line 8 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/iconic.styl */

/* line 8 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/image.styl */

/* line 26 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/image.styl */

/* line 26 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/overflow.styl */

/* line 21 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/overflow.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/positions.styl */

/* line 67 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/positions.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/reset.styl */

/* line 79 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/reset.styl */

/* line 6 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/index.styl */

/* line 6 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/index.styl */

/* line 6 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/aliases.styl */

/* line 13 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/aliases.styl */

/* line 13 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/ellipsis.styl */

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/ellipsis.styl */

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/hide-text.styl */

/* line 9 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/hide-text.styl */

/* line 9 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/replace-text.styl */

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/replace-text.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/shadow-stroke.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/shadow-stroke.styl */

/* line undefined : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/vendor.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/vendor.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 578 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 578 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/size.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/main.styl */
/**
 * Variables
 */

/* line 18 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/main.styl */
/**
 * Imports
 */

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/size.styl */

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/base.styl */

/* line 22 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/base.styl */
.no {
  display: none;
}

/* line 25 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/base.styl */
small {
  font-size: 80%;
}

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/base.styl */
ul {
  margin-left: 20px;
}

/* line 30 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/base.styl */

/* line 30 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
body {
  font-family: 'Arial', sans-serif;
  color: #3e454c;
}

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
h1 {
  color: #000;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 40px;
  margin-top: 0;
}
@media only screen and (min-width:768px) {

/* line 17 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
  h1 {
    font-size: 60px;
    margin-top: 1em;
  }
}

/* line 21 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
h2 {
  color: #cacdc4;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #cacdc4;
}

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
h3 {
  font-weight: normal;
  margin-bottom: 3px;
  color: #cacdc4;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 37 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
h4 {
  color: #00b2cd;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: 5px;
}

/* line 44 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
a {
  color: #2185c5;
  text-decoration: underline;
}

/* line 47 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
a:hover {
  color: #7ecefd;
}

/* line 50 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
.strike {
  text-decoration: line-through;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

/* line 54 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */
.small {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  font-size: 80%;
}

/* line 57 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/typography.styl */

/* line 57 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
button,
input[type="submit"],
.button {
  color: #1d3c72;
  border: none;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.8125rem;
  padding-left: 1.5rem;
  font-size: 20px;
  background-color: #678ec1;
  border-color: #7699c7;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  -ms-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
button:hover,
input[type="submit"]:hover,
.button:hover {
  color: #1d3c72;
}

/* line 32 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button--small,
.button.small {
  font-size: 12px;
  padding: 10px 15px;
}

/* line 38 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button.primary {
  background: #95d42c;
  color: #54830d;
}

/* line 41 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button.primary:hover {
  color: #54830d;
}

/* line 45 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button.alert {
  background: #d03131;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  color: #fff;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -ms-transition: 200ms;
  transition: 200ms;
}

/* line 51 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button.alert:hover {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 55 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button--icon {
  padding-left: 55px;
}

/* line 59 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button--load {
  position: relative;
  padding-left: 53px;
}

/* line 63 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */
.button--load i {
  position: absolute;
  top: 9px;
  left: 10px;
}

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/button.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
input[type="password"],
input[type="email"],
input[type="number"],
input[type="text"],
textarea {
  background: #eaeae7;
  border: none;
  padding: 10px;
  font-size: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  border-bottom: 2px solid #fff;
}

/* line 18 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
  border-bottom: 2px solid #fff;
  background: #fff;
  outline: none;
}

/* line 24 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
input[type="checkbox"],
input[type="radio"] {
  margin: 0 1rem 1rem 0;
}

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
label {
  font-size: 16px;
  font-weight: normal;
  color: #adafa7;
}

/* line 35 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
form th {
  vertical-align: top;
  padding-top: 10px;
}

/* line 39 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
th label {
  float: right;
  text-align: right;
  display: inline-block;
  margin-right: 20px;
}

/* line 45 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
table input,
table textarea {
  margin-bottom: 20px;
}

/* line 49 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
table {
  background: transparent;
}

/* line 53 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.form--aprila-base {
  width: 80%;
}

/* line 56 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.form--aprila-base .row {
  margin-bottom: 20px;
}

/* line 59 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */

/* line 60 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.form--aprila-base .medium-3 label {
  padding-top: 15px;
  display: inline-block;
  float: right;
}

/* line 65 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.form--aprila-base input[type="submit"] {
  float: right;
}

/* line 68 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.form--aprila-base textarea {
  height: 110px;
}

/* line 71 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.form--aprila-base p {
  padding-top: 10px;
}

/* line 74 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.form--login {
  margin: 0 auto;
}

/* line 79 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.b-login__reset-password {
  display: inline-block;
  margin-top: 8px;
}

/* line 83 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.b-login__remember {
  margin-left: 102px;
  margin-top: 16px;
  display: block;
}

/* line 88 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.b-login__remember input {
  margin: 0 0.5rem 1rem 0;
}

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
.b-login__logo {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* line 97 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background: #eaeae7;
  background-image: url("form/select.svg");
  background-position: right center;
  background-repeat: no-repeat;
  line-height: normal;
  padding: 10px;
  font-size: 20px;
}

/* line 108 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/form.styl */

/* line 108 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/label.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/label.styl */
.label {
  background: #937098;
  color: #432c53;
  display: inline-block;
  font-size: 8px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 5px 5px 2px;
}

/* line 12 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/label.styl */

/* line 12 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 4 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
body {
  background: #eaeae7;
}

/* line 13 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation-panel {
  height: 100%;
  width: 240px;
  background: #cacdc4;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 22 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.brand-image {
  position: relative;
  height: 140px;
  background: #767772;
  background-image: -webkit-linear-gradient(269deg, rgba(255,255,255,0.16) 0%, rgba(0,0,0,0.16) 100%);
  background-image: -moz-linear-gradient(269deg, rgba(255,255,255,0.16) 0%, rgba(0,0,0,0.16) 100%);
  background-image: -o-linear-gradient(269deg, rgba(255,255,255,0.16) 0%, rgba(0,0,0,0.16) 100%);
  background-image: -ms-linear-gradient(269deg, rgba(255,255,255,0.16) 0%, rgba(0,0,0,0.16) 100%);
  background-image: linear-gradient(-179deg, rgba(255,255,255,0.16) 0%, rgba(0,0,0,0.16) 100%);
}

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.btn-dashboard {
  color: #adafa7;
  font-size: 30px;
  position: absolute;
  bottom: 2px;
  right: 9px;
}

/* line 34 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.btn-dashboard:hover {
  color: #fff;
}

/* line 37 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.settings-navigation-panel {
  position: absolute;
  top: 0;
  left: 240px;
  background: #393939;
  width: 240px;
  height: 100%;
  z-index: 1;
}

/* line 46 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.base-panel {
  position: relative;
  z-index: 2;
  background: #eaeae7;
  margin-left: 240px;
  padding-top: 20px;
  padding-bottom: 40px;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -ms-transition: 200ms;
  transition: 200ms;
  min-height: 100%;
}

/* line 57 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.system-navigation--active .base-panel {
  -webkit-transform: translate(240px, 0);
  -moz-transform: translate(240px, 0);
  -o-transform: translate(240px, 0);
  -ms-transform: translate(240px, 0);
  transform: translate(240px, 0);
}

/* line 60 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
body.system-navigation--active {
  overflow: hidden;
}

/* line 64 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.base-panel.login-panel {
  width: 100%;
}

/* line 68 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 69 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
nav ul {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 73 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
nav li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 79 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 80 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation li {
  position: relative;
}

/* line 82 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation a {
  color: #767772;
  font-size: 20px;
  background: #adafa7;
  border-bottom: 1px solid #767772;
  padding: 18px 20px 13px 30px;
  display: block;
  text-decoration: none;
}

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation .active a {
  color: #393939;
  background: #eaeae7;
}

/* line 95 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation .active a i.svg {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

/* line 98 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation img {
  max-width: 39px;
  position: relative;
  top: -2px;
  left: -14px;
}

/* line 104 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation i.svg {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  width: 20px;
  height: 20px;
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

/* line 113 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 114 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation--user a {
  font-size: 16px;
  color: #393939;
  background: transparent;
  padding: 10px 12px 6px 22px;
  border-bottom: none;
}

/* line 121 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation--user img {
  max-width: 30px;
}

/* line 124 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.nav-item--user::after {
  display: block;
  content: "";
  background: url("img/triangle.svg") no-repeat 0 0;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 213px;
  top: 19px;
  z-index: 2;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/* line 137 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.nav-item--user:hover::after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  cursor: pointer;
  pointer-events: none;
}

/* line 142 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.nav-item--user.open::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 145 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation--system {
  height: 100%;
}

/* line 148 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation--system ul {
  height: 100%;
  position: relative;
}

/* line 151 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation--system a {
  color: #adafa7;
  background: #444542;
  border-bottom: 1px solid #393939;
}

/* line 157 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 158 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation .nav-item--logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 163 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation .nav-item--logout a {
  font-size: 15px;
}

/* line 168 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 169 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.header h1 {
  color: #cacdc4;
  font-weight: normal;
  font-size: 16px;
}

/* line 174 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.secondary.small.button {
  font-size: 10px;
  background: #4f4f4f;
  color: #aaa;
  padding: 10px;
  margin-bottom: 2px;
}

/* line 181 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.secondary.small.button:hover {
  background: #fff;
  color: #f00;
}

/* line 185 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.footer {
  margin-top: 30px;
  padding: 30px;
  border-top: 2px solid #cacdc4;
}

/* line 191 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 192 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation--footer a {
  color: #adafa7;
}

/* line 195 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.navigation--footer a:hover {
  color: #767772;
}

/* line 198 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 199 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
form table {
  border: none;
}

/* line 201 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
form table tr {
  background: none !important;
}

/* line 204 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 205 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
#frm-signInForm table {
  margin: 0 auto;
}

/* line 209 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
ul.error {
  background: #ffa5a5;
  color: #920000;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  list-style: none;
}

/* line 232 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.flash {
  display: block;
  width: 92%;
  padding: 30px;
  margin: 1em 0;
  position: fixed;
  top: 0;
  left: 4%;
  z-index: 9999;
  background: #fff9d7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-animation: fadeOut 2s;
  -moz-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  -ms-animation: fadeOut 2s;
  animation: fadeOut 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  pointer-events: none;
}

/* line 251 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.flash.info {
  background: #bdf59d;
  color: #2d372a;
}

/* line 255 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
.flash.error {
  background: #ffa5a5;
  color: #920000;
}

/* line 216 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
@-moz-keyframes fadeOut {

/* line 217 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 221 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 225 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
displaynone
  }
}

/* line 216 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
@-webkit-keyframes fadeOut {

/* line 217 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 221 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 225 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
displaynone
  }
}

/* line 216 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
@-o-keyframes fadeOut {

/* line 217 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 221 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 225 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
displaynone
  }
}

/* line 216 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
@keyframes fadeOut {

/* line 217 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 221 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  70% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

/* line 225 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
displaynone
  }
}

/* line 258 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/layout.styl */

/* line 258 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist {
  margin: 0 20px;
  color: #678ec1;
}

/* line 9 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist .b-datalist__line {
  border-bottom: 1px solid #cacdc4;
  padding: 20px 0;
  margin-bottom: 5px;
  cursor: pointer;
}

/* line 16 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist .b-datalist__line:hover {
  color: #275ea6;
}

/* line 21 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--small {
  font-size: 10px;
}

/* line 24 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--small .b-datalist__line {
  border-bottom: 1px solid #cacdc4;
  padding: 5px 0;
  margin-bottom: 2px;
}

/* line 30 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--no-active {
  color: #c0c0c0;
}

/* line 33 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--no-active a {
  color: #c0c0c0;
  text-decoration: none;
}

/* line 37 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--no-active a:hover {
  color: #275ea6;
}

/* line 40 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--no-active .b-datalist__line {
  cursor: default;
}

/* line 43 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--no-active .b-datalist__line:hover {
  color: inherit;
}

/* line 46 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist--no-active .b-datalist__line p {
  margin-bottom: 0;
}

/* line 50 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */

/* line 51 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist__line .default-click-action {
  display: none;
}

/* line 54 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */

/* line 55 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist__line .button {
  margin-bottom: 0;
}

/* line 58 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist__remove {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -ms-transition: 200ms;
  transition: 200ms;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

/* line 62 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */

/* line 63 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist__line:hover .b-datalist__remove {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/* line 66 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */
.b-datalist__line:hover .b-datalist__remove:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 68 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.datalist.styl */

/* line 68 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search {
  position: relative;
}

/* line 8 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search__ico {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 13 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search__input {
  position: relative;
  top: 0px;
  left: 41px;
  font-size: 25px;
  color: #926c35;
  border: none;
  border-bottom: 2px solid #dbaa62;
  background: transparent;
  padding: 3px 10px;
}

/* line 24 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search__input:focus {
  outline: none;
}

/* line 27 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search__clear {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 10px;
  left: 290px;
}

/* line 35 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search__clear--hide {
  display: none;
}

/* line 39 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */

/* line 40 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search--disabled .b-quick-search__input {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  cursor: default;
}

/* line 44 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */
.b-quick-search--disabled .b-quick-search__ico {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}

/* line 46 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.quickSearch.styl */

/* line 46 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */
.b-password-input__switcher {
  position: absolute;
  top: 12px;
  right: 23px;
  font-size: 10px;
  padding: 3px 7px 5px;
}

/* line 12 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */
.b-password-input__strength {
  margin-top: 10px;
  font-size: 10px;
  color: #adafa7;
}

/* line 17 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */
.b-password-input__indicator {
  font-weight: bold;
}

/* line 20 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */
.b-password-input__indicator--weak {
  color: #d03131;
}

/* line 23 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */
.b-password-input__indicator--normal {
  color: #678ec1;
}

/* line 26 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */
.b-password-input__indicator--strong {
  color: #7fc118;
}

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.passwordInput.styl */

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.fileInput.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.fileInput.styl */
.b-file-input__panel {
  position: relative;
  overflow: hidden;
  background: #adafa7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding-top: 0.75rem;
  padding-right: 0.9rem;
  padding-bottom: 0.7125rem;
  padding-left: 3.3rem;
  font-size: 14px;
  margin: 10px;
  min-width: 170px;
}

/* line 23 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.fileInput.styl */
.b-file-input__title {
  color: #767772;
  font-size: 20px;
}

/* line 27 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.fileInput.styl */
.b-file-input__input input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 40px;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

/* line 37 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.fileInput.styl */
.b-file-input__ico {
  position: absolute;
  top: 13px;
  left: 9px;
}

/* line 42 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.fileInput.styl */
.b-file-input__filename {
  font-size: 9px;
  pointer-events: none;
  padding-top: 6px;
  display: block;
}

/* line 47 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.fileInput.styl */

/* line 47 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  position: relative;
  background: #d03131;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 12px;
  padding: 10px 15px;
  color: #fff;
}

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #fff;
}

/* line 18 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm a {
  color: #fff;
  text-decoration: none;
}

/* line 22 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm--question {
  background: #cacdc4;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  cursor: default;
}

/* line 30 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm__button--hide {
  display: none;
}

/* line 33 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm__cancel,
.b-button-confirm__confirm {
  margin: 2px 6px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 13px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  cursor: pointer;
}

/* line 41 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm__cancel:hover,
.b-button-confirm__confirm:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 44 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm__cancel {
  background: #678ec1;
  color: #fff;
  margin-left: 2px;
}

/* line 49 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */
.b-button-confirm__confirm {
  background: #d03131;
  margin-right: 2px;
}

/* line 52 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.buttonConfirm.styl */

/* line 52 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.emptyState.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.emptyState.styl */
.b-empty-state {
  text-align: center;
  margin: 3em 2em;
}

/* line 9 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.emptyState.styl */
.b-empty-state p {
  color: #adafa7;
  font-size: 30px;
}

/* line 13 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.emptyState.styl */
.b-empty-state__link--create {
  color: #7fc118;
}

/* line 16 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.emptyState.styl */
.b-empty-state__link--create:hover {
  color: #95d42c;
}

/* line 18 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/Components/block.emptyState.styl */

/* line 18 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */

/* line 4 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */
.b-load-more {
  padding-top: 30px;
}

/* line 8 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */
.header--space {
  margin-top: 30px;
}

/* line 12 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */
.image--small {
  max-width: 50px;
}

/* line 15 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */
.image--circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 21 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */
.navigation--sub {
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 1px solid #cacdc4;
  border-bottom: 1px solid #cacdc4;
  padding: 11px 10px 9px;
}

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */
.menu-item--inline {
  display: inline-block;
  margin-right: 25px;
  text-decoration: none;
}

/* line 33 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */
.menu-item--inline.active {
  color: #393939;
}

/* line 35 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/application.styl */

/* line 35 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */

/* line 4 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
i.pixel {
  display: inline-block;
  text-indent: -100%;
  font-size: inherit;
  overflow: hidden;
}

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  background-size: 32px 32px;
}

/* line 18 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.svg-small {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
}

/* line 24 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.svg-base-color {
  fill: #adafa7;
}

/* line 27 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.button--icon i.svg {
  position: absolute;
  top: 9px;
  left: 10px;
}

/* line 33 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-new {
  background: url("ico/add.svg") no-repeat;
}

/* line 36 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-save {
  background: url("ico/save.svg") no-repeat;
}

/* line 39 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-close {
  background: url("ico/close.svg") no-repeat;
}

/* line 42 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-dashboard {
  background: url("ico/dashboard.svg") no-repeat;
}

/* line 45 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-search {
  background: url("ico/search.svg") no-repeat;
}

/* line 48 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-upload {
  width: 36px;
  height: 28px;
  background-image: url("ico/upload.svg");
}

/* line 53 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-trash {
  background-image: url("ico/trash.svg");
}

/* line 56 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-load-more {
  background-image: url("ico/load-more.svg");
}

/* line 59 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/admin/icons.styl */
.ico-clear-search {
  width: 14px;
  height: 14px;
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  background-size: 14px 14px;
  background-image: url("ico/clear-search.svg");
}
