/**
 * Block Button Confirm
 */

.b-button-confirm
	transition none
	position relative
	background #D03131
	opacity .5
	font-size 12px
	padding 10px 15px
	color white

	&:hover
		opacity 1
		color white

	a
		color white
		text-decoration none

.b-button-confirm--question
	background #CACDC4
	padding-left 1px
	padding-right 1px
	opacity 1
	cursor default


.b-button-confirm__button--hide
	display none

.b-button-confirm__cancel
.b-button-confirm__confirm
	margin 2px 6px
	border-radius 5px
	padding 8px 13px
	opacity 0.7
	cursor pointer

	&:hover
		opacity 1

.b-button-confirm__cancel
	background #678EC1
	color white
	margin-left 2px

.b-button-confirm__confirm
	background #D03131
	margin-right 2px