/**
 * Block Password Input
 */

.b-password-input__switcher
	position absolute
	top 12px
	right 23px
	font-size 10px
	padding 3px 7px 5px

.b-password-input__strength
	margin-top 10px
	font-size 10px
	color #ADAFA7

.b-password-input__indicator
	font-weight bold

.b-password-input__indicator--weak
	color #D03131

.b-password-input__indicator--normal
	color #678EC1

.b-password-input__indicator--strong
	color #7FC118