/**
 * Block File Input
 */

.b-file-input__panel
	position relative
	overflow hidden
	background #ADAFA7
	border-radius 5px
	display inline-block
	text-align center
	vertical-align middle
	cursor pointer
	white-space nowrap
	padding-top 0.75rem
	padding-right 0.9rem
	padding-bottom 0.7125rem
	padding-left 3.3rem
	font-size 14px
	margin 10px
	min-width 170px

.b-file-input__title
	color #767772
	font-size 20px

.b-file-input__input input
	position absolute
	top 0
	right 0
	margin 0
	padding 0
	font-size 40px //cca button height
	cursor pointer
	opacity 0

.b-file-input__ico
	position absolute
	top 13px
	left 9px

.b-file-input__filename
	font-size 9px
	pointer-events none
	padding-top 6px
	display block
