/**
 * Block Quick Search
 */

.b-quick-search
	position relative

.b-quick-search__ico
	position absolute
	top 0
	left 0

.b-quick-search__input
	position relative
	top 0px
	left 41px
	font-size 25px
	color #926C35
	border none
	border-bottom 2px solid #DBAA62
	background transparent
	padding 3px 10px

	&:focus
		outline none

.b-quick-search__clear
	display block
	width 14px
	height 14px
	position absolute
	top 10px
	left 290px

.b-quick-search__clear--hide
	display none


.b-quick-search--disabled
	.b-quick-search__input
		opacity .3
		cursor default

	.b-quick-search__ico
		opacity 0.3