{*
	Component : navigation
*}

<nav class="navigation navigation--main">
	<ul>
		{*<li {ifCurrent Day:* }class="active"{/ifCurrent}><a n:href="Day:default" data-loading="Page">Day</a></li>*}
	</ul>
</nav>