{*
	Component : navigation
*}

<nav class="navigation navigation--main">
	<ul>
		<li {ifCurrent Reference:*}class="active"{/ifCurrent}><a n:href="Reference:default" data-loading="Page">Reference</a></li>
	</ul>
</nav>