{layout @layout.latte}

{block #content}

	{block #title}<h1>MyLifeStyle.cz - změna hesla</h1>{/block}

	<p>
		Pro změnu hesla pokračujte na  <a href="{link //:Front:PasswordRecovery:recoveryStepTwo email => $email, token => $token }">další krok</a>
	</p>

	<p>
		Nebo si zkopírujte ověřovací kód: <b>{$token}</b><br>

		a jděte na stránku {link //:Front:PasswordRecovery:recoveryStepTwo}
	</p>

	<p>
		Pokud jste nežádali o změnu hesla, tento email ignorujte.
	</p>

{/block}