{*
    Evening : sleeptime
*}

{block content}

	Last time we met %hours% ago, your day is over and you should be sleeping now.

	Or do you want to:
	- <a href="{plink dashboard:list}">List days?</a>
	- <a href="{plink morning:default}">Wake up?</a>

{/block}
