{*
	Users : add
*}

{block #title}New user{/block}

{block #content}

<div class="row header">
	<div class="column text-right">
		<a n:href="default" data-loading="Page"><i class="svg ico-close"></i></a>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">

		{include '../Components/form.latte', form => userForm}

	</div>
</div>
