
/* line 30 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/main.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 287 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/index.styl */

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/index.styl */

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/border.styl */

/* line 11 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/border.styl */

/* line 11 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/clearfix.styl */

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/clearfix.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/color-image.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/color-image.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/flex.styl */

/* line 197 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/flex.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/gradients.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/gradients.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 12 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/iconic.styl */

/* line 8 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/iconic.styl */

/* line 8 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/image.styl */

/* line 26 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/image.styl */

/* line 26 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/overflow.styl */

/* line 21 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/overflow.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/positions.styl */

/* line 67 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/positions.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/reset.styl */

/* line 79 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/reset.styl */

/* line 6 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/index.styl */

/* line 6 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/index.styl */

/* line 6 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/aliases.styl */

/* line 13 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/aliases.styl */

/* line 13 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/ellipsis.styl */

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/ellipsis.styl */

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/hide-text.styl */

/* line 9 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/hide-text.styl */

/* line 9 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/replace-text.styl */

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/replace-text.styl */

/* line 1 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/shadow-stroke.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/text/shadow-stroke.styl */

/* line undefined : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/vendor.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/vendor.styl */

/* line 91 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 578 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/config.styl */

/* line 578 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/size.styl */

/* line 3 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/main.styl */
/**
 * Variables
 */

/* line 19 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/main.styl */
/**
 * Imports
 */

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/nib/nib/size.styl */

/* line 29 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */

/* line 26 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.chromeframe {
  border: 15px solid #991b1f;
  padding: 50px;
  font-size: 22px;
  color: #000;
  margin: 60px;
  background: #fff;
}

/* line 34 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.chromeframe a {
  color: #2567b1;
}

/* line 37 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.no {
  display: none;
}

/* line 41 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
i,
.i {
  display: inline-block;
  text-indent: -100%;
  font-size: inherit;
  overflow: hidden;
}
@media only screen and (min-width:768px) {

/* line 50 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
  .t {
    display: inline-block;
    text-indent: -500%;
    font-size: inherit;
    overflow: hidden;
  }
}

/* line 57 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.flash {
  display: block;
  text-align: center;
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
}

/* line 67 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.flash.info {
  background: #addab6;
  color: #171e19;
}

/* line 71 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.button {
  font-size: 20px;
  color: #fff;
  background: #4f3668;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 81 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.button:hover {
  background: #614280;
}

/* line 86 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.btn {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  background: #4cb9e6;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 94 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.btn:hover {
  color: #fff;
}

/* line 97 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */

/* line 98 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
.text-right .btn {
  text-align: left;
}
@media only screen and (min-width:768px) {

/* line 102 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
  .btn {
    display: inline-block;
    text-indent: -500%;
    font-size: inherit;
    overflow: hidden;
  }
}

/* line 108 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
small {
  font-size: 80%;
}

/* line 111 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
ul {
  margin-left: 20px;
}

/* line 116 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
a[href^="#error:"] {
  background: #f00;
  color: #fff;
}

/* line 121 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
form th,
form td {
  vertical-align: top;
  font-weight: normal;
}

/* line 126 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
form th {
  text-align: right;
}

/* line 130 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
form .required label {
  font-weight: bold;
}

/* line 134 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
form .error {
  color: #d00;
  font-weight: bold;
}

/* line 139 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */
html.js .jshidden {
  display: none;
}

/* line 141 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/base.styl */

/* line 141 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
body {
  font-family: 'Roboto', sans-serif;
  color: #29313b;
}

/* line 10 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
h1 {
  color: #000;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 18px;
}
@media only screen and (min-width:768px) {

/* line 16 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 1em;
    border-bottom: 1px solid #dfe1e5;
    padding-bottom: 15px;
  }
}

/* line 23 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
h2 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 16px;
}
@media only screen and (min-width:768px) {

/* line 28 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
  h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;
    font-size: 18px;
    font-weight: bold;
  }

/* line 34 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
  h2 b {
    font-size: 27px;
    color: #4cb9e6;
  }
}

/* line 38 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
h3 {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1;
  padding: 10px 0 10px;
}
@media only screen and (min-width:768px) {

/* line 45 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
  h3 {
    font-size: 20px;
  }
}

/* line 48 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
h4 {
  color: #ef6245;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: 5px;
}

/* line 55 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
a {
  color: #3cbca6;
  text-decoration: underline;
}

/* line 58 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
a:hover {
  color: #117d84;
}

/* line 61 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */
p.small {
  font-size: 0.7em;
}

/* line 63 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/typography.styl */

/* line 63 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */

/* line 4 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
body {
  background: #ebebeb;
}

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
header {
  height: 120px;
  background: #5b5c61;
}

/* line 18 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
header .brand {
  font-size: 40px;
  color: #fff;
  padding-top: 38px;
  text-decoration: none;
}

/* line 24 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
header .brand small {
  font-size: 20px;
}

/* line 32 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
footer {
  margin-top: 20px;
  background: #282828;
}

/* line 36 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
footer h3 {
  padding-bottom: 10px;
  padding-top: 30px;
  color: #616161;
  font-size: 16px;
}

/* line 41 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
footer p {
  padding-top: 5px;
  color: #616161;
  font-size: 14px;
}

/* line 46 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
footer a {
  display: block;
  padding: 10px 5px 10px 0;
  color: #939292;
  font-size: 20px;
}

/* line 52 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
footer a:hover {
  color: #fff;
}
@media only screen and (min-width:768px) {

/* line 55 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */
  footer a {
    font-size: 15px;
  }
}

/* line 57 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/layout.styl */

/* line 57 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/homepage.styl */

/* line 5 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/homepage.styl */
.technologies {
  background: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000;
  padding: 2em;
}
@media only screen and (min-width:768px) {

/* line 14 : /Users/chemix/Sites/Laboratory/Aprila/Sandbox/www/style/site/homepage.styl */
  .technologies {
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 2em;
  }
}
