@import '../nib/nib'

/**
 * Variables
 */

fontSuper = 'Roboto', sans-serif;
fontDefault = 'Arial', sans-serif;

colorBackground = #EBEBEB
colorTextMain = #29313B
colorLink = #3CBCA6
colorLinkHover = #117D84
colorHigh = #EF6245
colorHighBackground = #F2E5C5



/**
 * Imports
 */
@import 'base.styl'

// Project
@import "typography.styl"
@import "layout.styl"

// Custom page
@import 'homepage.styl'
